@font-face {
  font-family: DMSansRegular;
  src: url(./assets/fonts/static/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSansMedium;
  src: url(./assets/fonts/static/DMSans-Medium.ttf);
}

:root {
  --light-purple: hsl(254, 88%, 90%);
  --dark-purple: hsl(256, 67%, 59%);

  --light-yellow: hsl(31, 66%, 93%);
  --dark-yellow: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: DMSansMedium;
}

body {
  background-color: rgb(230, 230, 230);
}

.main-grid {
  display: grid;
  grid-template-areas:
    "grid-item1 grid-item2 grid-item2 grid-item3"
    "grid-item1 grid-item2 grid-item2 grid-item3"
    "grid-item1 grid-item5 grid-item6 grid-item3"
    "grid-item4 grid-item5 grid-item6 grid-item3"
    "grid-item4 grid-item7 grid-item8 grid-item8"
    "grid-item4 grid-item7 grid-item8 grid-item8";
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  gap: 20px;
  padding: 10px;
  min-height: 90vh;
  max-width: 1080px;
  margin: 0 auto;
}

.grid-item {
  border-radius: 15px;
}

.grid-item1 {
  grid-area: grid-item1;
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.grid-item1 button {
  background-color: var(--dark-yellow);
  border-radius: 30px;
  border-width: 0;
  padding: 15px;
  color: var(--dark-purple);
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  width: 100%;
  display: block;
  min-width: 100px;
}

.grid-item1 button:hover {
  background-color: var(--dark-purple);
  color: var(--dark-yellow);
}

.grid-item2 {
  grid-area: grid-item2;
  font-family: DMSansMedium;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item3 {
  grid-area: grid-item3;
  background-color: var(--light-purple);
}
.grid-item4 {
  grid-area: grid-item4;
  background-color: var(--dark-yellow);
}
.grid-item5 {
  grid-area: grid-item5;
  background-color: var(--white);
}
.grid-item6 {
  grid-area: grid-item6;
  background-color: var(--dark-yellow);
}
.grid-item7 {
  grid-area: grid-item7;
  background-color: var(--white);
}
.grid-item8 {
  grid-area: grid-item8;
  background-color: var(--dark-purple);
}

.grid-item-h1 {
  font-weight: 100;
  line-height: 80%;
  letter-spacing: -3px;
}

.grid-item-header-text1 {
  padding: 30px 0px;
  font-size: calc(30px + 1vw);
}

.grid-item1 h1 i {
  color: var(--dark-purple);
}

.grid-item-header-text2 {
  font-size: calc(40px + 1vw);
  color: var(--white);
  width: 75%;
  text-align: center;
}

.grid-item2 img {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 200px;
}

.grid-item2 small {
  color: var(--white);
}

.yellow-text {
  color: var(--dark-yellow);
}
