@font-face {
  font-family: DMSansRegular;
  src: url(../assets/fonts/static/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSansMedium;
  src: url(../assets/fonts/static/DMSans-Medium.ttf);
}

:root {
  --light-purple: hsl(254, 88%, 90%);
  --dark-purple: hsl(256, 67%, 59%);

  --light-yellow: hsl(31, 66%, 93%);
  --dark-yellow: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: DMSansMedium;
  color: var(--black);
}

body {
  background-color: rgb(230, 230, 230);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main-grid {
  display: grid;
  grid-template-areas:
    "grid-item1 grid-item2 grid-item2 grid-item3"
    "grid-item1 grid-item2 grid-item2 grid-item3"
    "grid-item1 grid-item5 grid-item6 grid-item3"
    "grid-item4 grid-item5 grid-item6 grid-item3"
    "grid-item4 grid-item7 grid-item8 grid-item8"
    "grid-item4 grid-item7 grid-item8 grid-item8";
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  gap: 20px;
  padding: 10px;
  max-width: 1080px;
}

.grid-item {
  border-radius: 15px;
  animation: ScaleUp 0.25s ease-in-out forwards;
  box-shadow: 4px 4px 1px lightgray;
  transition: 0.25s box-shadow ease-in-out, 0.25s translate;
  cursor: pointer;
}

.grid-item:hover {
  box-shadow: none;
  translate: 4px 4px;
}

@keyframes ScaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

img {
  transition: transform 0.5s ease-in-out;
}
img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.grid-item1 {
  grid-area: grid-item1;
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.grid-item1 button {
  background-color: var(--dark-yellow);
  border-radius: 30px;
  border-width: 0;
  padding: 15px;
  color: var(--dark-purple);
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  width: 100%;
  display: block;
  min-width: 100px;
}

.grid-item1 button:hover {
  background-color: var(--dark-purple);
  color: var(--dark-yellow);
}

.grid-item2 {
  grid-area: grid-item2;
  font-family: DMSansMedium;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item3 {
  padding: 30px;
  grid-area: grid-item3;
  background-color: var(--light-purple);
  overflow: hidden;
}
.grid-item4 {
  padding: 20px;
  grid-area: grid-item4;
  background-color: var(--dark-yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.grid-item5 {
  grid-area: grid-item5;
  background-color: var(--white);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
}
.grid-item6 {
  grid-area: grid-item6;
  background-color: var(--dark-yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
}
.grid-item7 {
  grid-area: grid-item7;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}
.grid-item8 {
  grid-area: grid-item8;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  gap: 10px;
}

.grid-item-h1 {
  font-weight: 100;
  line-height: 80%;
  letter-spacing: -3px;
}

.grid-item-header-text1 {
  padding: 30px 0px;
  font-size: calc(20px + 1vw);
}

.grid-item1 h1 i {
  color: var(--dark-purple);
}

.grid-item-header-text2 {
  font-size: calc(36px + 1vw);
  color: var(--white);
  width: 75%;
  text-align: center;
}
.grid-item-header-text2 i {
  color: var(--white);
}

.grid-item2 img {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 200px;
}

.grid-item2 small {
  color: var(--white);
}

.yellow-text {
  color: var(--dark-yellow);
}

.grid-item3 img {
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-item4 img {
  width: 100%;
  padding-top: 30px;
}

.grid-item4 h1 {
  font-size: calc(27px + 1vw);
}

.grid-item5 img {
  max-width: 300px;
}

.grid-item5 h1 {
  font-size: calc(26px + 0.8vw);
}

.grid-item6 h1 {
  font-size: calc(26px + 0.8vw);
}

.grid-item6 img {
  width: 100%;
  margin-bottom: -50px;
}

.grid-item7 h1 {
  font-size: calc(50px + 0.8vw);
}

.grid-item7 p {
  font-size: calc(10px + 0.4vw);
  padding-top: 10px;
}

.grid-item7 img {
  width: 100%;
}

.grid-item8 img {
  width: 50%;
}

.grid-item8 h1 {
  color: var(--white);
  letter-spacing: -1px;
  font-size: calc(20px + 0.8vw);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .center-container {
    height: 100%;
  }
  .main-grid {
    display: flex;
    flex-direction: column;
  }

  .grid-item1 {
    order: 7;
    align-items: flex-start;
    padding: 30px;
  }

  .grid-item2 {
    order: 1;
    height: 300px;
  }

  .grid-item3 {
    order: 4;
    padding: 13px;
    text-align: center;
    padding-top: 30px;
  }
  .grid-item4 {
    order: 8;
  }
  .grid-item5 {
    order: 2;
  }
  .grid-item6 {
    order: 3;
    height: 200px;
  }
  .grid-item7 {
    order: 6;
    gap: 20px;
  }
  .grid-item8 {
    order: 5;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .grid-item6 img {
    max-width: 60vw;
  }
  .grid-item3 img {
    height: 100%;
    width: 100%;
  }

  .grid-item3 h1 {
    font-size: calc(16px + 4vw);
  }

  .grid-item3 p {
    padding: 10px;
    padding-top: 0px;
  }

  .grid-item8 img {
    width: 70%;
  }

  .grid-item8 h1 {
    width: 70%;
    text-align: center;
    font-size: calc(24px + 3vw);
    font-family: DMSansRegular;
  }

  .grid-item7 img {
    width: 70%;
  }

  .grid-item7 h1 {
    font-size: calc(50px + 4vw);
  }
  .grid-item7 p {
    font-size: calc(12px + 2vw);
  }
  .grid-item-header-text1 {
    padding: 30px 0px;
    font-size: calc(20px + 4vw);
  }
  .grid-item1 button {
    width: 70%;
  }

  .grid-item4 img {
    width: 70%;
  }
  .grid-item4 h1 {
    font-size: calc(20px + 4vw);
  }
}
